<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SyncConfiguration" type="Microsoft.Synchronization.ClientServices.Configuration.SyncConfigurationSection, SyncSvcUtil, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <SyncConfiguration>
        <SyncScopes>
            <SyncScope Name="TestScope" SchemaName="" IsTemplateScope="false"
                EnableBulkApplyProcedures="false">
                <SyncTables>
                    <SyncTable Name="[Table]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Id" GlobalName="" SqlType="int" IsPrimaryKey="true"
                                IsNullable="false" />
                            <SyncColumn Name="Name" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[ChildTable]" GlobalName="" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Id" GlobalName="" SqlType="int" IsPrimaryKey="true"
                                IsNullable="false" />
                            <SyncColumn Name="TableId" GlobalName="" SqlType="int" IsPrimaryKey="false"
                                IsNullable="false" />
                            <SyncColumn Name="Name" GlobalName="" SqlType="nvarchar" IsPrimaryKey="false"
                                IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                </SyncTables>
            </SyncScope>
        </SyncScopes>
        <Databases>
            <TargetDatabase Name="SyncTest" DbServer="(localdb)\ProjectsV13"
                DbName="SyncTest" UserName="" Password="" UseIntegratedAuth="true" />
        </Databases>
    </SyncConfiguration>
</configuration>